body {
    background-color: rgb(124, 56, 0);
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.snake {
    position: absolute;
}

.snake-head {
    background-image: url('./assets/head.png');
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
}

.snake-body {
    background-image: url('./assets/body.png');
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
}

.snake-tail {
    background-image: url('./assets/tail.png');
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
}

.snake-right {
    transform: rotateZ(180deg);
}

.snake-top {
    transform: rotateZ(90deg);
}

.snake-bottom {
    transform: rotateZ(270deg);
}